body {
  background-color: darkkhaki;
}

.choice {
  height: 200px;
  width: 200px;
}

img {
  border-style: solid;
  border-width: 10px;
  border-radius: 10%;
  border-color: darkkhaki;
}

.col-left {
  padding: 0 0 0 5%;
}

.col-right {

}

.message-container {
  vertical-align: center;
  margin: 0 auto;
  color: darkkhaki;
  font-size: 50px;
  text-align: center;
}
.grid {
  width: 60%;
  margin: 0 auto;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  padding: 2% 10% 2% 20%;
}

.col-mid {
  padding: 0 10%
}

.container {
  width: 100%;
  display: inline-block;
  padding: 100px 0;
  margin: 5% auto 0 auto;
  background-color: maroon
}

